PORT=3000

MONGODB_URI=mongodb://127.0.0.1:27017/todo_api_db

NODE_ENV=development

JWT_SECRET=FrengkiTodoAPI_2026_Rahasia_X7kP9mQ2

JWT_EXPIRES_IN=1d

EXTERNAL_API_KEY=7f3a1c9e2b8d4f6a0c1e9b7d3f5a8c2e6b0d4f9a1c3e7b5d9f2a4c6e8b0d1f3a